@import "variables";

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $navy;
    min-height: 50px;
    flex-wrap: no-wrap;
    padding: 0 5vw;
    &-logo {

    }
    &-nav__link {
        margin-left: 3vw;
        color: #ffffff;
        opacity: .7;
        font-size: 1.1em;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        transition: opacity .2s linear;
        position: relative;

        &:hover {
            opacity: 1;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

.active {
    opacity: 1;
    position: relative;
    &:after{
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        top: 160%;
        left: 0;
        opacity: 1;
        z-index: 1;
        transition: opacity .2s linear;
    }   
}
